.page-item.disabled a {
    background: #cccccc!important;
}
.page-item .page-link {
    background: #4c1864!important;
}

.btn.btn-violet {
    background: #4c1864!important;
}

.modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
}