<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <!--    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/Login</url-pattern>
    </filter-mapping>-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Quizz</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingList</servlet-name>
        <servlet-class>controller.SettingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>controller.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>controller.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subjects</servlet-name>
        <servlet-class>controller.Subjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quizz</servlet-name>
        <servlet-class>controller.Quizz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Classes</servlet-name>
        <servlet-class>controller.Classes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lessons</servlet-name>
        <servlet-class>controller.Lessons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>controller.Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyClasses</servlet-name>
        <servlet-class>controller.MyClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmittedAssignment</servlet-name>
        <servlet-class>controller.SubmittedAssignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Grades</servlet-name>
        <servlet-class>controller.Grades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discussions</servlet-name>
        <servlet-class>controller.Discussions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassAssignments</servlet-name>
        <servlet-class>controller.ClassAssignments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtraLessons</servlet-name>
        <servlet-class>controller.ExtraLessons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentList</servlet-name>
        <servlet-class>controller.AssignmentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentView</servlet-name>
        <servlet-class>controller.AssignmentView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeDetail</servlet-name>
        <servlet-class>controller.TraineeDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeView</servlet-name>
        <servlet-class>controller.TraineeView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>General</servlet-name>
        <servlet-class>controller.General</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralDetail</servlet-name>
        <servlet-class>controller.GeneralDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChapterDetail</servlet-name>
        <servlet-class>controller.ChapterDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingList</servlet-name>
        <url-pattern>/settinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subjects</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quizz</servlet-name>
        <url-pattern>/Quizz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Classes</servlet-name>
        <url-pattern>/classes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lessons</servlet-name>
        <url-pattern>/lesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>General</servlet-name>
        <url-pattern>/General</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralDetail</servlet-name>
        <url-pattern>/GeneralDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChapterDetail</servlet-name>
        <url-pattern>/ChapterDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyClasses</servlet-name>
        <url-pattern>/myclasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmittedAssignment</servlet-name>
        <url-pattern>/submittedaassignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grades</servlet-name>
        <url-pattern>/grades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discussions</servlet-name>
        <url-pattern>/discussions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassAssignments</servlet-name>
        <url-pattern>/casm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtraLessons</servlet-name>
        <url-pattern>/exLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentList</servlet-name>
        <url-pattern>/AssignmentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentView</servlet-name>
        <url-pattern>/AssignmentView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeDetail</servlet-name>
        <url-pattern>/TraineeDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeView</servlet-name>
        <url-pattern>/TraineeView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            view/authen/login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
